<div *ngIf="isModalShown" class="add-modal">
    <div class="modal-content">
        <h3>Add new pet</h3>
        <form #petForm="ngForm" (ngSubmit)="processSubmit()">
            <label for="type">Type:</label>
            <select
                id="type"
                #petType
                required
                (change)="changeModal($event.target.value)"
                [(ngModel)]="model.type"
                name="type"
            >
                <option *ngFor="let type of petTypes" [value]="type">
                    {{type}}
                </option>
            </select>
            <br>
            <label for="color">Color:</label>
            <select
                id="color"
                #petColor
                required
                [(ngModel)]="model.color"
                name="color"
            >
                <option *ngFor="let color of petColors" [value]="color">
                    {{color}}
                </option>
            </select>
            <br>
            <label for="price">Price:</label>
            <input
                id="price"
                type="number"
                #petPrice
                required
                [(ngModel)]="model.price"
                name="price"
                min="0"
                #price="ngModel"
            />
            <div *ngIf="price.invalid && (price.dirty || price.touched)" class="alert-message">
                    <div *ngIf="price.errors.required">
                        Price is required.
                    </div>
                    <div *ngIf="price.errors.minvalue">
                        Incorrect price
                    </div>
                </div>
            <br>
            <div class="name-section" [hidden]="chosenPet === 'Hamster'">
                <label for="name">Name:</label>
                <input
                    id="name"
                    type="text"
                    #petName
                    [required]="model.type === 'Cat' || model.type === 'Dog'"
                    minlength="2"
                    [(ngModel)]="model.name"
                    name="name"
                    #name="ngModel"
                    placeholder="Cute"
                />
                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert-message">
                    <div *ngIf="name.errors.required">
                        Name is required.
                    </div>
                    <div *ngIf="name.errors.minlength">
                        Name must be at least 2 characters long.
                    </div>
                </div>
            </div>
            <div class="fluffy-section" [hidden]="chosenPet === 'Dog'">
                <label for="fluffy">Fluffy:</label>
                <input
                    id="fluffy"
                    type="checkbox"
                    #petFluffy
                    [(ngModel)]="model.isFluffy"
                    name="fluffy"
                />
            </div>
            <button type="submit" [disabled]="!petForm.form.valid">Submit</button>
            <button (click)="shutModal()">Cancel</button>
        </form>
    </div>
</div>    