<div class="header">
    <span>Pet Shop</span>
    <button (click)="switchModal()">Add pet +</button>
</div>

<div class="navbar">
    <div 
        (click)="switchShowMode('all')"
        [ngClass]="{'active-bar': showMode === 'all'}"
    >
        All pets
    </div>
    <div
        (click)="switchShowMode('cats')"
        [ngClass]="{'active-bar': showMode === 'cats'}"
    >
        All cats
    </div>
    <div
        (click)="switchShowMode('expensive')"
        [ngClass]="{'active-bar': showMode === 'expensive'}"
    >
        Expensive pets
    </div>
    <div
        (click)="switchShowMode('white&fluffy')"
        [ngClass]="{'active-bar': showMode === 'white&fluffy'}"
    >
        White and fluffy pets
    </div>
</div>

<div class="content">
    <app-add-pet-modal
        [isModalShown]="isModalShown"
        (shutModalRequest)="switchModal()"
        (showNewPet)="onPetAddition()"
    >
    </app-add-pet-modal>
    <div *ngIf="showMode === 'all'" class="shop-tab">
       <!--  <p *ngIf="!allPets.length">There are no pets in this category</p> -->
        <div *ngFor="let pet of allPets">
            <app-pet-instance [pet]="pet"></app-pet-instance>
        </div>
    </div>
    <div *ngIf="showMode === 'cats'" class="shop-tab">
        <p *ngIf="!cats.length">There are no pets in this category</p>
        <div *ngFor="let cat of cats">
            <app-pet-instance [pet]="cat"></app-pet-instance>
        </div>
    </div>
    <div *ngIf="showMode === 'expensive'" class="shop-tab">
        <p *ngIf="!expensive.length">There are no pets in this category</p>
        <div *ngFor="let expensivePet of expensive">
            <app-pet-instance [pet]="expensivePet"></app-pet-instance>
        </div>
    </div>
    <div *ngIf="showMode === 'white&fluffy'" class="shop-tab">
        <p *ngIf="!whiteAndFluffy.length">There are no pets in this category</p>
        <div *ngFor="let fluffyWhite of whiteAndFluffy">
            <app-pet-instance [pet]="fluffyWhite"></app-pet-instance>
        </div>
    </div>    
</div>